# =========================
# ANGULAR BUILD OUTPUT
# =========================
dist/
web/dist/
out-tsc/
tmp/
coverage/
e2e/test-output/
.angular/
.ng/

# =========================
# NODE / DEPENDENCIAS
# =========================
node_modules/
package-lock.json
yarn.lock

# =========================
# ENVIRONMENT FILES
# =========================
.env

# =========================
# ANGULAR CLI / CACHE
# =========================
.angular-cli.json
*.tsbuildinfo

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
